@inherits LayoutComponentBase

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    @Body
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Made by <a href="https://michaellaw.me">MLWD Ltd</a> (c) @@@DateTime.Now.Year.</p>
        </div>
    </footer>
</div>
