@page "/game/{instance}"
@inherits FluxorComponent
@inject IState<GameState> GameState
@inject IDispatcher Dispatcher
@inject IConfiguration Config

@if (GameState?.Value?.Game != null)
{
    <GameTabs></GameTabs>
}
else
{
    <div class="aligner">
        <main role="main" class="inner cover">
            loading...
        </main>
    </div>
}

@code
{
    [Parameter]
    public string Instance { get; set; }

    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        if (GameState.Value.Game == null)
        {
            Dispatcher.Dispatch(new GetOrCreateGameAction(Instance));
        }

        var apiUrl = Config["apiUri"];

        hubConnection = new HubConnectionBuilder()
            .WithUrl(apiUrl, options =>
            {
                options.Transports = HttpTransportType.LongPolling;
                options.DefaultTransferFormat = TransferFormat.Text;
            })
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<string>("gameUpdated", (gameData) =>
        {
            var game = JsonConvert.DeserializeObject<State.Games.Models.Game>(gameData);
            Dispatcher.Dispatch(new UpdateGameStateAction(game));
        });

        await hubConnection.StartAsync();
    }
}
 