@inherits FluxorComponent

<div class="@ClassName" style="width: 100%;">
    @ChildContent
</div>

@code {
    [Parameter]
    public Tab Tab { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string ClassName { get; set; } = "hidden";
}